/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #0073e6;
    color: #fff;
    padding: 20px;
}

header img {
    max-width: 100px;
    height: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Container Styles */
.container {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}

/* Custom Dropdown Styles */
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
}

.custom-select .select-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.custom-select .select-icon i {
    color: #333;
    font-size: 18px;
}

.custom-select select:focus + .select-icon,
.custom-select select:hover + .select-icon {
    background-color: #e0e0e0;
}

/* Footer Styles */
footer {
    background-color: #0073e6;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer-content {
    margin-top: 10px;
}
